src/main/mule/implementation/post-customer-registration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="cffcd44b-305f-4ac4-9790-2399944984ce" >
		<salesforce:basic-connection username="elu4usales@gmail.com" password="p.1waapa" securityToken="WRHqdZFw8WzRUKeRKlWAe6vv" />
	</salesforce:sfdc-config>
	<flow name="post-customer-registrationFlow" doc:id="d8db5d09-bf17-4d38-915e-077a9d097187" >
		<ee:transform doc:name="Transform Message" doc:id="b037d9b8-f20b-43fe-aaca-aa5ce934be63" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
  "contactType__c": payload.registrationRequest.contactType,
  "countryCode__c": payload.registrationRequest.countryCode,
  "mobile__c": payload.registrationRequest.mobile,
  "password__c": payload.registrationRequest.password,
  "acceptDataPolicy__c": if(payload.registrationRequest.acceptDataPolicy == true)("true")else("false"),
  "receiveNews__c": if(payload.registrationRequest.receiveNews == true)("true")else("false"),
  "acceptPic__c": if(payload.registrationRequest.acceptPic == true)("true")else("false"),
  "locale__c": payload.registrationRequest.locale,
  "captchaToken__c": payload.registrationRequest.captchaToken,
  "receiveClaimSettle__c": if(payload.registrationRequest.receiveClaimSettle == true)("true")else("false")
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Request Log" doc:id="ce21fb84-7c53-4e2d-9263-fc40f993c1e4" message='#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.headers."x-cms-transactionId", &#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: "Customer Registration",&#10;	Category: "Customer", &#10;	OriginatingApplication: "Process API",&#10;	DesinationApplication: "Salesforce", &#10;	CustomerId: "NA", &#10;	txnState: "Request"&#10;}]'/>
		<salesforce:create type="registration__c" doc:name="Create" doc:id="99408957-f8b2-453d-938f-57418ea032fe" config-ref="Salesforce_Config"/>
		<logger level="INFO" doc:name="Response Log" doc:id="5ff5067d-27e6-40e8-84a5-11868cce6d3a" message='#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.headers."x-cms-transactionId", &#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: "Customer Registration",&#10;	Category: "Customer", &#10;	OriginatingApplication: "Process API",&#10;	DesinationApplication: "Salesforce", &#10;	CustomerId: "NA", &#10;	txnState: "Response"&#10;}]'/>
		<ee:transform doc:name="Transform Message" doc:id="a2343e19-769b-45ea-8fe9-53d83c65146c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  registrationResponse: {
    eventInstanceId: attributes.headers.'x-cms-transactionId',
    status: "success"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="post-customerState-registrationFlow" doc:id="bad3e9d6-f6da-43d9-b6c2-0e8c97e42422" >
		<ee:transform doc:name="Transform Message" doc:id="ae2aa6d3-408a-443f-a1cb-33c2468ced4d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
  "contactType__c": payload.customerStateRequest.contactType,
  "countryCode__c": payload.customerStateRequest.countryCode,
  "mobile__c": payload.customerStateRequest.mobile,
  "password__c": payload.customerStateRequest.password,
  "status__c": payload.customerStateRequest.status
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Request Log" doc:id="f6fd7298-c6ba-46eb-aabe-e9e4005d5ab3" message='#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.headers."x-cms-transactionId", &#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: "Customer State",&#10;	Category: "Customer", &#10;	OriginatingApplication: "Process API",&#10;	DesinationApplication: "Salesforce", &#10;	CustomerId: "NA", &#10;	txnState: "Request"&#10;}]' />
		<salesforce:create type="customerState__c" doc:name="Create" doc:id="6867945a-0d50-418a-8587-ee9d3ee4c574" config-ref="Salesforce_Config" />
		<logger level="INFO" doc:name="Response Log" doc:id="c5107bc4-869a-41c2-aa11-f9fc090eb5fc" message='#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.headers."x-cms-transactionId", &#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: "Customer State",&#10;	Category: "Customer", &#10;	OriginatingApplication: "Process API",&#10;	DesinationApplication: "Salesforce", &#10;	CustomerId: "NA", &#10;	txnState: "Response"&#10;}]' />
		<ee:transform doc:name="Transform Message1" doc:id="5bdc2325-8169-4b2b-b41d-2b5cfd9bf934" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  customerStateRequest: {
    eventInstanceId: attributes.headers.'x-cms-transactionId',
    status: "success"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
	</flow>
</mule>
