src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-config" api="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
		<error-handler ref="APIKIT-global-errorError_Handler" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
		<error-handler ref="APIKIT-global-errorError_Handler" />
    </flow>
    <flow name="post:\customerState:application\json:api-config" doc:id="5c192846-2cc4-4c63-bfc9-ab193cf2abc4">
		<logger level="INFO" doc:name="Start Log" doc:id="6f89c448-e7b3-4c7f-8871-af617ec5954e" message='#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.headers."x-cms-transactionId", &#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: "Customer Registration",&#10;	Category: "Customer", &#10;	OriginatingApplication: "Process API",&#10;	DesinationApplication: "Salesforce", &#10;	CustomerId: "NA", &#10;	txnState: "START"&#10;}]' />
		<flow-ref doc:name="Flow Reference" doc:id="1cd4ac38-0001-4709-9f21-c540910bd5b1" name="post-customerState-registrationFlow" />
		<logger level="INFO" doc:name="End Log" doc:id="8f6590bd-8192-49af-aa99-9428cf891bd3" message='#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.headers."x-cms-transactionId", &#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: "Customer Registration",&#10;	Category: "Customer", &#10;	OriginatingApplication: "Process API",&#10;	DesinationApplication: "Salesforce", &#10;	CustomerId: "NA", &#10;	txnState: "END"&#10;}]' />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="post:\customers\registration:application\json:api-config" doc:id="d3874534-799e-448e-b7ec-080a1628467e">
		<logger level="INFO" doc:name="Start Log" doc:id="e58f2cfb-0056-44ba-a3a9-cd7149793c50" message='#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.headers."x-cms-transactionId", &#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: "Customer Registration",&#10;	Category: "Customer", &#10;	OriginatingApplication: "Process API",&#10;	DesinationApplication: "Salesforce", &#10;	CustomerId: "NA", &#10;	txnState: "START"&#10;}]' />
		<flow-ref doc:name="Flow Reference" doc:id="701fc860-a853-4596-9bcd-5fc49eefd028" name="post-customer-registrationFlow" />
		<logger level="INFO" doc:name="End Log" doc:id="e228d572-636d-4094-91b9-fa945d1f8bbf" message='#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.headers."x-cms-transactionId", &#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: "Customer Registration",&#10;	Category: "Customer", &#10;	OriginatingApplication: "Process API",&#10;	DesinationApplication: "Salesforce", &#10;	CustomerId: "NA", &#10;	txnState: "END"&#10;}]' />
		<error-handler ref="global-errorError_Handler" />
    </flow>
</mule>
